<div x-data="svgRingDemo" class="border-4 bg-white border-black p-8  drop-shadow-hard"  data-preimage="{{preimage}}">
  <label>
    <h3 class="font-black mt-0">Pre-Image:</h3>
    <input
      class="bg-gray-200 p-1 border-b border-black w-full"
      x-model="preimage"
      type="text">
  </label>
    <div class="break-words">
      <h3 class="font-black">SHA256 Hash:</h3>
      <p class="font-mono break-words w-fit max-w-[100%] mx-auto" x-text="await hash(preimage)"></p>
    </div>

  {% if color %}

  Which can be represented by the following hex codes: 
    <div class="flex flex-wrap">
      <template x-for="hexColor in translatePubKeyHexColors(await hash(preimage))">
        <div class="max-w-[100%] mx-auto flex flex-col">
          <div x-text="'#' + hexColor"></div>
          <div class="h-4" :style="'background: #' + hexColor"></div>
        </div>
      </template>
  </div>

{% endif %}

{% if svg %}

<h3 class="font-black"> SVG Fingerprint: </h3>
  <div class="sm:w-3/4 md:w-2/3 xl:w-1/3 mx-auto" x-html="translatePubKeyToSvgRing(await hash(preimage)).outerHTML">
  </div>

{% endif %}
</div>
