<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="min-h-screen bg-gray-100  bg-[url('/images/splat.png')] bg-no-repeat bg-top h-full"
    data-env="{{ node.env }}"
  >
    {% include "partials/site-header.html" %}

    <div class="py-10 h-full">{% block content %}{% endblock %}</div>

    <script type="module" src="/main.js"></script>
    <div class="mt-20 flex justify-center">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWQX7D38"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    </div>
  </body>
</html>
