<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="min-h-screen bg-gray-100  bg-[url('/images/splat.png')] bg-no-repeat bg-top h-full"
    data-env="{{ node.env }}"
  >
    {% include "partials/site-header.html" %}

    <div class="py-10 h-full">{% block content %}{% endblock %}</div>

    <script type="module" src="/main.js"></script>
    <div class="mt-20 text-center text-sm text-gray-500 mb-5">
      <a title="Privacy-friendly Web Analytics" href="https://clicky.com/101389734"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script async data-id="101389734" src="//static.getclicky.com/js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101389734ns.gif" /></p></noscript>
    </div>
  </body>
</html>
