{% layout "layouts/base.html" %} {% block content %}
<main id="main-content" tabindex="-1" class="">
  <div class="px-4 bg-white drop-shadow-hard border-black border-4  max-w-6xl mx-auto ">
    <h1 class="text-5xl font-black leading-tight text-gray-900 border-black border-b-4 -mx-4 px-8 py-2">
      {{ title }}
    </h1>
    <div class="py-8 leading-8 text-gray-600 -mx-4 px-8 border-b-4 border-black">
      <p class="text-xl">{{ intro.text }}</p>
    </div>
    <div class="prose-lg prose-gray text-gray-800 blogPost px-4" >{{ content }}</div>
  </div>
</main>
{% if meta.has_code %}
{%- render "partials/snippets/render-code" -%}
{% endif %}

{% endblock %}
