<div class="border-4 bg-white border-black drop-shadow-hard hover:drop-shadow-hard-sm hover:translate-y-1 hover:translate-x-1 transition-all">
  <a href="{{ link.address }}"
    class="p-2 object-scale-down flex items-center justify-center">
    {% if icon_only %}
    <img src="/images/{{link.icon}}" alt="{{link.desc}}" srcset="" class="h-10 w-10">
    {% else %}
    <div class="w-full font-black text-center min-h-[2.5rem] flex items-center justify-center">
      {{ link.text }}
    </div>
      {% endif %}
  </a>
</div>