<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@valorize.javi" data-unique-id="valorize.javi"
    data-embed-type="creator" style="max-width: 720px; min-width: 288px;">
    <section> <a target="_blank" href="https://www.tiktok.com/@valorize.javi?refer=creator_embed">@valorize.javi</a>
    </section>
</blockquote>
<script async src="https://www.tiktok.com/embed.js"></script>